/*
    Fonts
*/
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("/fonts/inter-v2-latin-400-600-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local(""),
    url("/fonts/inter-v2-latin-400-600-700.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(""),
    url("/fonts/inter-v2-latin-400-600-700.woff2") format("woff2");
}
